<h2>商品新規登録</h2>
<%= form_with model: @item, url: admin_items_path do |f| %>

<table>
  <tr>
    <td><span>商品画像</span><%= f.file_field :image, placeholder: "商品画像", accept: "image/*" %></td>
  </tr>

  <tr>
    <td><span>商品名</span><%= f.text_field :name %></td>
  </tr>

  <tr>
    <td><span>商品説明</span><%= f.text_area :introduction %></td>
  </tr>

  <tr>
    <td><span>税抜価格</span><%= f.text_field :price %></td>
  </tr>

  <tr>
    <td><%= f.submit '新規登録' %></td>
  </tr>
</table>
<% end %>