<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
    </tr>

    <tr>
      <td>パスワード</td>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>

    <tr>
      <td><%= f.submit "ログイン" %></td>
    </tr>
  </table>
<% end %>

<h2>会員登録がお済みでない方</h2>
  <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。


