<div>
   <%= image_tag @item.get_image(200,200 %>
</div>


<div>
  <%= @item.name %>
</div>

<div>
 <%= @item.introduction %>
</div>

<div>
 <%= @item.add_tax_price.to_s(:delimited) %>(税込み)
</div>

<div class= d-flex>
  <%= form_with model: CartItem.new do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..99] %>
    <%= f.submit 'カートに入れる' %>
  <% end %>
</div>